<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Welcome')"></head>
<link rel="stylesheet" th:href="@{/css/search.css}"/>
<style>
    .container {
        margin-top: 50px;
        margin-bottom: 100px;
        width: 60%;
        background-color: #fff;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
        border: 1px solid #dee2e6;
        border-radius: 5px;
        text-align: left;
    }
    form {
        margin: 15px;
    }
    .content{
        margin: 0 auto;
        width: 90%;
    }
    h3 {
        padding-top: 5px;
        text-align: center;
        font-weight: bold;
    }
    .margin-bottom-two {
        margin-bottom: 2px;
    }
    .margin-right {
        margin-right: 50px;
    }
    .submit-button-wrapper {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .queries {
        margin: 0 auto;
        text-align: center;
    }
    @media (max-width: 930px) {
        .container {
            width: 95%;
        }
    }
</style>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <input type="hidden" id="userDistrict" th:field="${queries.district}"/>

    <div class="container">
        <div th:if="${session.inputErrors != null}">
            <div class="alert alert-danger alert-dismissable mt-2">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-times-circle"></i>
                <span th:text="${session.inputErrors}"></span>
            </div>
        </div>
        <form id="jar" th:action="@{/search/query/}" th:method="post" th:object="${user}">
            <div class="content">

                <h3>Personal Details</h3>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ufirstName">First Name</label>
                        <input type="text" class="form-control" id="ufirstName" th:field="*{uFirstName}" placeholder="First Name" AUTOCOMPLETE="OFF" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ulastName">Last Name</label>
                        <input type="text" class="form-control" id="ulastName" th:field="*{uLastName}" placeholder="Last Name" AUTOCOMPLETE="OFF" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" id="phone" th:field="*{phoneNumber}" placeholder="e.g. (351)215-5555" AUTOCOMPLETE="OFF" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="you@email.com" AUTOCOMPLETE="OFF" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="1234 Main St" AUTOCOMPLETE="OFF" />
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" value="San Antonio" readonly="" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" value="Texas" readonly="" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zipCode">Zip Code</label>
                        <input type="text" class="form-control" id="zipCode" th:field="*{zipCode}" placeholder="78200" maxlength="5" />
                    </div>
                </div>

            </div>
            <div class="content" th:object="${child}">
                <h3>Child Info</h3>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="First Name" AUTOCOMPLETE="OFF" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Last Name" AUTOCOMPLETE="OFF" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control" id="dob" th:field="*{dob}" min="2013-09-01" max="2015-09-01" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <select class="form-control" id="gender" th:field="*{gender}">
                            <option th:value="M" th:text="Male"></option>
                            <option th:value="F" th:text="Female"></option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="content" th:object="${queries}">
                    <h3>Services</h3>
                <div class="queries">
                    <div class="">
                        <p class="margin-bottom-two">Will your child need bus transportation services?</p>
                        <label class="radio-inline margin-right"><input class="mr-2" type="radio" th:field="*{transportation}" th:value="true" />Yes</label>
                        <label class="radio-inline"><input class="mr-2" type="radio" th:field="*{transportation}" th:value="false" />No</label>
                    </div>
                    <div class="">
                        <p class="margin-bottom-two">Is English your child's primary language?</p>
                        <label class="radio-inline margin-right"><input class="mr-2" type="radio" th:field="*{language}" th:value="true" />Yes</label>
                        <label class="radio-inline"><input class="mr-2" type="radio" th:field="*{language}" th:value="false" />No</label>
                    </div>
                    <div class="">
                        <p class="margin-bottom-two">Does your child have a disability or health impairments?</p>
                        <label class="radio-inline margin-right"><input class="mr-2" type="radio" th:field="*{disability}" th:value="true" />Yes</label>
                        <label class="radio-inline"><input class="mr-2" type="radio" th:field="*{disability}" th:value="false" />No</label>
                    </div>
                    <div class="">
                        <p class="margin-bottom-two">Do you need afterschool daycare services?</p>
                        <label class="radio-inline margin-right"><input class="mr-2" type="radio" th:field="*{daycare}" th:value="true" />Yes</label>
                        <label class="radio-inline"><input class="mr-2" type="radio" th:field="*{daycare}" th:value="false" />No</label>
                    </div>
                    <div class="">
                        <p class="margin-bottom-two">Do you need financial services like grants and/or free lunch?</p>
                        <label class="radio-inline margin-right"><input class="mr-2" type="radio" th:field="*{financial}" th:value="true" />Yes</label>
                        <label class="radio-inline"><input class="mr-2" type="radio" th:field="*{financial}" th:value="false" />No</label>
                    </div>
                    <div class="submit-button-wrapper">
                        <button id="submitButton2" type="submit" class="btn btn-primary btn-md">Search Schools</button>
                    </div>
                </div>
            </div>
        </form>
        <nav>
            <ul class="pagination justify-content-center pagination-sm"></ul>
        </nav>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: scripts"></div>
    <div th:replace="fragments/maps-key :: maps-key"></div>
    <script type="text/javascript" th:src="@{/js/search.js}"></script>
    <script type="text/javascript" th:src="@{/js/form_pagination.js}"></script>

</body>
</html>