<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- ... -->
<!--<div sec:authorize="isAuthenticated()">-->
    <!--This content is only shown to authenticated users.-->

    <!--User ID: <span th:text="${#authentication.principal.id}"/>-->
    <!--Username: <span th:text="${#authentication.principal.username}"/>-->
    <!--Email: <span th:text="${#authentication.principal.email}"/>-->
<!--</div>-->
<head th:replace="fragments/header :: header('View User')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <!--<h1>View Profile</h1>-->
    <!--<div id="user-profile">-->
        <!--<h3 th:text="*{user.username}"></h3>-->
        <!--&lt;!&ndash;<hr/>&ndash;&gt;-->
        <!--<p th:text="${user.email}"></p>-->
        <!--<p th:text="${user.address + ' ' + user.zipCode}"></p>-->
        <!--<p th:text="${user.phoneNumber}"></p>-->
    <!--</div>-->
    <div class="my-3 text-left" id="user-profile">
        <form th:action="@{/user/edit}" th:method="post" th:object="${user}">
            <h3>Your Profile</h3>
            <div th:if="${session.userError != null}">
                <div class="alert alert-danger alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-times-circle"></i>
                    <span th:text="${session.userError}"></span>
                </div>
            </div>
            <p>
                <label for="username">Username: </label>
                <input th:field="*{username}" id="username"/>
            </p>
            <p>
                <label for="email">Email: </label>
                <input th:field="*{email}" id="email"/>
            </p>
            <p>
                <label for="address">Address: </label>
                <input th:field="*{address}" name="address" id="address"/>
                <label for="zip-code">Zip Code: </label>
                <input th:field="*{zipCode}" id="zip-code"/>
            </p>
            <p>
                <label for="phone">Phone: </label>
                <input th:field="*{phoneNumber}" id="phone"/>
            </p>
            <button class="btn" type="submit">Update Profile</button>
        </form>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
<script>
    $('#phone').on('input', function (e) {
        var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
        e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
    });
</script>

</body>
</html>