<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header('Login')"></head>
<body>
<div th:replace="fragments/navbar-no-login :: navbar-no-login"></div>
<div id="container" class="row mx-auto">
		<!--Login Form-->
	<div class="col-11 col-md-8 col-lg-7 w-80 bg-light border rounded p-3 mx-auto">
		<form th:action="@{/login}" method="POST" class="col-sm-12 col-md-10 mx-auto w-80">
			<h3 class="mb-2 py-2 text-center">Account Login</h3>
			<div class="my-2 form-wrapper">
				<input type="text" name="username" placeholder="Username" class=" form-control" required=""/>
				<!--<i class="fas fa-user"></i>-->
			</div>
			<div class="my-2 form-wrapper">
				<input type="password" name="password" placeholder="Password" class="form-control" required=""/>
				<!--<i class="fas fa-lock"></i>-->
			</div>
			<div th:if="${param.error}">
				<div class="my-3 alert alert-danger alert-dismissable">
					<a class="panel-close close" data-dismiss="alert">×</a>
					<i class="fa fa-times-circle"></i>
					<p class="m-auto">Invalid Username and Password.</p>
				</div>
			</div>
			<div th:if="${param.logout}">
				<div class="my-3 alert alert-danger alert-dismissable">
					<a class="panel-close close" data-dismiss="alert">×</a>
					<i class="fa fa-times-circle"></i>
					<p class="m-auto">You have been logged out.</p>
				</div>
			</div>
			<div class="mx-auto form-wrapper">
				<button type="submit" class="mx-auto my-2 w-100 btn btn-primary btn-lg text-light" role="button">Login</button>
			</div>
		</form>
		<div class="hr-nav">or</div>
		<form th:action="@{/register}" method="get" class="row px-2">
			<button type="submit" class="col-6 mx-auto my-4 btn btn-success btn-lg text-light" role="button">Register</button>
		</form>

		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>