<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<!--BOOTSTRAP NAV TESTING-->
<th:block th:fragment="navbar">
    <nav class="simple-k-nav">
        <div class="navbar navbar-expand-lg navbar-dark py-2">
            <div class="mx-2 navbar-brand">
                <a id="logo" class="text-light" th:href="@{/}">
                    <img th:src="@{../img/apple_logo.png}" width="30" height="30" class="d-inline-block align-top" alt="Simple-K Logo"/>
                    <span class="px-1">Simple-K</span>
                </a>
            </div>
            <form sec:authorize="!isAuthenticated()" th:method="post" th:action="@{/login}" id="login" class="navbar-nav ml-auto px-3">
                <div class="mx-2 d-none d-sm-none d-md-none d-lg-block my-2 form-wrapper">
                    <input type="text" name="username" placeholder="Username" class="mx-2 form-control" required=""/>
                <!--<i class="fas fa-user"></i>-->
                </div>
                <div class="mx-2 d-none d-sm-none d-md-none d-lg-block d-xl-block my-2 form-wrapper">
                    <input type="password" name="password" placeholder="Password" class="mx-2 form-control" required=""/>
                <!--<i class="fas fa-lock"></i>-->
                </div>
                <div class="mx-2 d-none d-sm-none d-md-none d-lg-block d-xl-block mr-auto my-2">
                        <button type="submit" class="pl-0 py-1 btn rounded btn-link text-light" role="button">Login</button>
                </div>
                <div class="mx-2 d-block d-lg-none d-xl-none mr-auto my-2">
                    <a th:href="@{/login}" class="pl-0 py-1 btn rounded btn-link text-light">Login</a>
                </div>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto px-3">
                    <li class="mx-2 allnav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="http://fun4alamokids.com/Education-Childcare/Before-After-School-Care/" target="_blank">After-School Programs</a>
                            <a class="dropdown-item" href="https://www.infofinderi.com/ifi/?cid=SAI2PDRU8K2M" target="_blank">Bus Transportation</a>
                            <a class="dropdown-item" href="https://saheadstart.org/en/how-to-apply/#sahs-how-to-apply-eligibility" target="_blank">Income Assistance</a>
                            <a class="dropdown-item" href="http://fun4alamokids.com/Programs-Classes/Language-Classes/" target="_blank">Language Services</a>
                            <a class="dropdown-item" href="http://www.texasprojectfirst.org/node/167" target="_blank">Special Needs &amp; Disabilities</a>
                        </div>
                    </li>
                    <li class="mx-2 nav-item">
                        <a class="nav-link" th:href="@{/search}">District Map</a>
                    </li>
                    <li class="mx-2 nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                    <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}" id="logout-collapse">
                        <button type="submit" class="pl-2 py-1 btn rounded btn-link text-light" role="button">Logout</button>
                    </form>
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#">nf</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}" id="logout">
                <button type="submit" class="px-3 py-1 btn rounded btn-link text-light" role="button">Logout</button>
            </form>
        </div>
    </nav>
</th:block>

</body>
</html>