body{
    background-image: url("../img/dust_scratches.png");
    background-color: #F5F5F5;
}
#container {

}
#logo {
    text-align: center;
    margin: 1em auto 1em auto;
    padding: 1em 1em 1em 1em;
}
#banner {
    width: 320px;
    height: 183px;
    margin: 0 auto 0 auto;
    padding: 1em 1em 1em 1em;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}