/*---Color Palette--*/
.paper-white {color: #fcfaf6;}
.click-orange {color: #FFC300;}
.frame-purple {color: #a75cf2;}
.confirm-blue {color: #5cf2f2;}
.success-green {color: #a7f25c;}
.alert-red {color: #f25c5c;}
/*--Color Pallete Option 2--*/
.aa {color: #CA8B3A;}
.bb {color: #CAC9C8;}
.cc {color: #A4AEB5;}
.dd {color: #715C56;}
.ee {color: #283230;}

@font-face { font-family: Cartoon_Six; src: url('../font/Carton_Six.ttf'); }
@font-face { font-family: Dimbo_Regular; src: url('../font/Dimbo_Regular.ttf'); }
@font-face { font-family: Schoolbell; src: url('../font/Schoolbell.ttf'); }

* {
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body{
    background-image: url("../img/dust_scratches.png");
    background-color: #F5F5F5;
    padding: 2em auto;
    font-size: 16px !important;
}
a:hover {
    cursor:pointer;
    color: #e0a800;
}
#container {
    /*max-width: 960px;*/
    width: 100%;
    margin: 3em auto 2em auto}
.container {
    max-width: 960px;
    width: 100%;
    text-align: center;
}
/*---NAVBAR---*/
header {
    position: absolute;
    width: 100%;
    top: 0;
}
.simple-k-nav {
    background-color: #482d71;
}
.hr-nav {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 1em 0;
}
.hr-nav::before,
.hr-nav::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    line-height: 0;
    margin: 0 1em;
}

/*---FOOTER---*/
footer {
    background-color: #482d71;
    color: #fff;
    height: 3em;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
/*---INDEX---*/
#logo {
    /*font-family: Cartoon_Six, cursive;*/
    /*font-family: Schoolbell, cursive;*/
    /*font-family: Dimbo_Regular, cursive;*/
    font-family: "Love Ya Like A Sister", cursive;
}
.lead {
    /*font-family: 'Love Ya Like A Sister', cursive;*/
    font-family: Schoolbell, cursive;
}
#primary-window {
    margin: 0 auto 0 auto;
    padding: 0;
    background-color: white;
    text-align: center;
}
#jumbo-container{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#landing-page-content {
    background-color: #FFFFFF;
}
#landing-page-content h3 {
    /*font-family: Dimbo_Regular, cursive;*/
    padding: 1em;
    margin: auto;
}

/*---REGISTER---*/
#registration-form img {
    height: 330px;
}

/*---ABOUT---*/
#aboutCarousel {
    height: 300px;
}
/*#thank-you-logos a {*/
    /*height: 120px;*/
    /*padding: auto;*/
    /*margin: auto;*/
/*}*/