#map-canvas {
    margin-top: 5px;
    border: 1px solid darkgray;
    width: 100%;
    height: 481px;
}
.grid-item-filter {
    font-size: .7em;
    height: 50px;
    background-color: #cccccc;
    border-bottom: 1px solid rgb(166, 166, 166);
}
#search-form {
    width: 40%;
    margin: 0 auto;
    padding-top: 5px;
}
#search-school-name {
    width: 225px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
}
.grid-container {
    font-size: .7em;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 486px 237px;
    margin: 0 auto 25px auto;
    width: 80%;
    overflow: hidden;
}
.grid-item-1 {
    grid-column: 1;
    grid-row: 1;
}
.grid-item-2 {
    grid-column: 2;
    grid-row: 1/3;
}
.grid-item-3 {
    grid-column: 1;
    grid-row: 2/3;
}
.list_school {
    overflow: scroll;
    overflow-x: hidden;
    height: 95%;
}
.school, #school {
    margin: 5px auto;
    border: 1px solid darkgray;
    padding: 5px;
}
.school {
    width: 95%;
}
#school {
    width: 100%;
}
#school #school-details-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.school-details-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.school-details-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
#school-listing {
    width: 100%;
}
.isd-logo {
    width: 100px;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
.flex-container img {
    height: 50px;
}
p {
    margin: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.loadingIndex {
    display: none;
}
.directions {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}
input::placeholder {
    font-size: .7em;
}
@media only screen and (min-width: 1440px) {
    /*TODO fix display on bigger screens*/
}
@media only screen and (max-width: 768px) {
    /*TODO fix display on smaller screens*/
}
@media only screen and (max-width: 768px) {
    /*TODO fix display on smaller screens*/
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 486px 250px;
        margin-bottom: 25px;
        width: 100%;
        overflow: hidden;
    }
    .grid-item-3 {
        grid-column: 1;
        grid-row: 2/3;
    }
    .grid-item-2 {
        grid-column: 1;
        grid-row: 3/4;
    }
    .grid-item-1 {
        grid-column: 1;
        grid-row: 1/2;
    }
    .grid-item-filter {
        /*grid-column: 1;*/
        /*grid-row: 2/3;*/
        display: none;
    }
    #school {
        margin: 5px auto;
    }
    .list_school {
        height: 100vh;
    }
}