body {
    color: #333;
    font-size: 13px;
    margin: 0;
}
.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.inner {
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
}
.inner .image-holder {
    width: 50%;
}
img {
    max-width: 100%;
}
.inner form {
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}
.inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
}
.form-group {
    display: flex;
}
.form-group input:first-child {
    margin-right: 25px;
}
.form-group input {
    width: 50%;
}
.form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: unset;
    display: block;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
}
input, textarea, select, button {
    color: #333;
    font-size: 13px;
}
input {}
.form-wrapper {
    position: relative;
}
.form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0;
}
select {
    -webkit-appearance: none;
    cursor: pointer;
}
button {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
button i {
    margin-left: 10px;
}