<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Welcome')"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Simple-K</h1>
            <p class="lead">Pre-K Enrollment Made Easy</p>
            <hr class="my-4"/>
            <a class="btn btn-primary btn-lg text-center" th:href="@{/login}" role="button">Child Registration</a>
            <a class="btn btn-primary btn-lg text-center" th:href="@{/school-results}" role="button">Search Schools</a>

        </div>
        <section>Section 1</section>
        <section>Section 2</section>
        <section>Section 3</section>
        </div>
            <!--we should offer to either login or register-->
            <!--if we want general search, we'll also have third option "Find Schools"-->

        <div th:replace="fragments/footer :: footer"></div>
        <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>